In [1]:
import os
import pandas as pd
import AnaliseExploratoria_functions

current_path = os.getcwd()
csv_path = (current_path + '/Data/campeonatos_futebol_sem_outliers.csv')

In [2]:
df = pd.read_csv(csv_path)
df[['Position 1', 'Position 2']]

      Position 1 Position 2
0          4-3-3      4-3-3
1          3-5-2      3-5-2
2          4-3-3    3-4-1-2
3          3-4-3    4-2-3-1
4          4-4-2    3-5-1-1
...          ...        ...
27652      4-4-2      4-5-1
27653    4-2-3-1      4-4-2
27654      4-4-2      4-4-2
27655      4-5-1      4-4-2
27656      4-4-2    4-2-3-1

[27657 rows x 2 columns]

In [3]:
# Vamos exibir todas as formações do dataframe
all_formations = pd.unique(
    df[['Position 1', 'Position 2']].values.ravel()
)
all_formations

array(['4-3-3', '3-5-2', '3-4-1-2', '3-4-3', '4-2-3-1', '4-4-2',
       '3-5-1-1', nan, '3-4-2-1', '4-5-1', '4-1-4-1', '5-4-1', '3-1-4-2',
       '5-3-2', '4-3-2-1', '4-3-1-2', '4-4-1-1', '4-1-3-2', '4-1-2-1-2',
       '3-2-3-2', '3-1-3-1-2', '5-3-1-1', '3-3-3-1', '4-1-2-3', '4-2-1-3',
       '3-3-2-2', '4-2-2-2', '3-2-4-1', '4-1-2-2-1', '5-2-3', '3-3-1-3'],
      dtype=object)

In [4]:
# Não são muitas. No entanto, temos a informação da posição tática apenas no INICIO da partida. Portanto, vamos fazer
# uma classificação binária que indica se a formação é defensiva ou ofensiva. Infelizmente, não temos informação suficiente
# para usar técnicas mais elaboradas para indicar o QUÃO defensiva ou ofensiva ela é.
AnaliseExploratoria_functions.position_to_binary(df,['Position 1','Position 2'],replace = True)

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,1.0,1.0
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,1.0,1.0
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,1.0,1.0
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,1.0,0.0
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27652,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,0.0,0.0
27653,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,0.0,0.0
27654,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,0.0,0.0
27655,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,0.0,0.0
27656,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,0.0,0.0