In [1]:
# O objetivo aqui é estudar e encontrar soluções para lidar com a quantidade excessiva de NaN's do dataset.
# A figura abaixo mostra a porcentagem de NaN's no Dataset o qual queremos lidar (passe o mouse em cima!).

![alt-text](\Users\joao\Desktop\image.png "Porcentagem de NaN's das variáveis que queremos lidar")

In [2]:
import os
import pandas as pd
import AnaliseExploratoria_functions
from AnaliseExploratoria_functions import histogram_and_stats

current_path = os.getcwd()
csv_path = (current_path + '/Data/campeonatos_futebol_atualizacao.csv')

In [3]:
df = pd.read_csv(csv_path)
df

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,4-3-3,4-3-3
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,3-5-2,3-5-2
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,4-3-3,3-4-1-2
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,3-4-3,4-2-3-1
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,4-4-2,3-5-1-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27711,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,4-4-2,4-5-1
27712,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,4-2-3-1,4-4-2
27713,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,4-4-2,4-4-2
27714,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,4-5-1,4-4-2
27715,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,4-4-2,4-2-3-1

In [4]:
# primeiro precisamos tirar os outliers do dataframe. Podemos identificar os outliers.
# Podemos identificar outliers com a função "histogram_and_stats" da biblioteca AnaliseExploratoria_functions

In [5]:
print(df.columns) # todas as colunas do dataframe original

Index(['Chutes a gol 1', 'Chutes a gol 2', 'Impedimentos 1', 'Impedimentos 2',
       'Escanteios 1', 'Escanteios 2', 'Chutes fora 1', 'Chutes fora 2',
       'Faltas 1', 'Faltas 2', 'Cartões amarelos 1', 'Cartões amarelos 2',
       'Cartões vermelhos 1', 'Cartões vermelhos 2', 'Cruzamentos 1',
       'Cruzamentos 2', 'Laterais 1', 'Laterais 2', 'Chutes bloqueados 1',
       'Chutes bloqueados 2', 'Contra-ataques 1', 'Contra-ataques 2', 'Gols 1',
       'Gols 2', 'Tiro de meta 1', 'Tiro de meta 2', 'Tratamentos 1',
       'Tratamentos 2', 'Substituições 1', 'Substituições 2', 'Tiros-livres 1',
       'Tiros-livres 2', 'Defesas difíceis 1', 'Defesas difíceis 2',
       'Posse 1(%)', 'Posse 2(%)', 'Time 1', 'Time 2', 'Position 1',
       'Position 2'],
      dtype='object')

In [6]:
# Vamos selecionar apenas as colunas com valores numéricos e exibir suas estatísticas

In [7]:
for col in df.select_dtypes(include="number").columns:
    print(f'\033[1m{col}\033[0m')
    histogram_and_stats(df,col,plot=False)

Chutes a gol 1
NaN's: 1512 --|-- Ocorrências: 26204 --|-- Média: 4.77 --|-- Desv. padrão: 2.80 --|-- Mínimo: 0.00 --|-- Máximo: 90.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 6.00 --|-- 95º percentil: 10.00
--------------
Chutes a gol 2
NaN's: 1512 --|-- Ocorrências: 26204 --|-- Média: 3.85 --|-- Desv. padrão: 2.44 --|-- Mínimo: 0.00 --|-- Máximo: 80.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 2.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 5.00 --|-- 95º percentil: 8.00
--------------
Impedimentos 1
NaN's: 2774 --|-- Ocorrências: 24942 --|-- Média: 2.14 --|-- Desv. padrão: 1.75 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Impedimentos 2
NaN's: 2774 --|-- Ocorrências: 24942 --|-- Média: 1.97 --|-- Desv. padrão: 1.68 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Escanteios 1
NaN's: 2328 --|-- Ocorrências: 25388 --|-- Média: 5.55 --|-- Desv. padrão: 2.98 --|-- Mínimo: 0.00 --|-- Máximo: 22.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 5.00 --|-- 75º percentil: 7.00 --|-- 95º percentil: 11.00
--------------
Escanteios 2
NaN's: 2328 --|-- Ocorrências: 25388 --|-- Média: 4.46 --|-- Desv. padrão: 2.62 --|-- Mínimo: 0.00 --|-- Máximo: 21.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 6.00 --|-- 95º percentil: 9.00
--------------
Chutes fora 1
NaN's: 2324 --|-- Ocorrências: 25392 --|-- Média: 6.03 --|-- Desv. padrão: 3.22 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 2.00 --|-- 25º percentil: 4.00 --|-- 50º percentil (mediana): 6.00 --|-- 75º percentil: 8.00 --|-- 95º percentil: 12.00
--------------
Chutes fora 2
NaN's: 2324 --|-- Ocorrências: 25392 --|-- Média: 4.96 --|-- Desv. padrão: 5.45 --|-- Mínimo: 0.00 --|-- Máximo: 748.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 5.00 --|-- 75º percentil: 7.00 --|-- 95º percentil: 10.00
--------------
Faltas 1
NaN's: 2322 --|-- Ocorrências: 25394 --|-- Média: 12.69 --|-- Desv. padrão: 4.34 --|-- Mínimo: 0.00 --|-- Máximo: 46.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 10.00 --|-- 50º percentil (mediana): 12.00 --|-- 75º percentil: 15.00 --|-- 95º percentil: 20.00
--------------
Faltas 2
NaN's: 2322 --|-- Ocorrências: 25394 --|-- Média: 12.95 --|-- Desv. padrão: 4.61 --|-- Mínimo: 0.00 --|-- Máximo: 180.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 10.00 --|-- 50º percentil (mediana): 13.00 --|-- 75º percentil: 16.00 --|-- 95º percentil: 21.00
--------------
Cartões amarelos 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.86 --|-- Desv. padrão: 1.35 --|-- Mínimo: 0.00 --|-- Máximo: 11.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 4.00
--------------
Cartões amarelos 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 2.12 --|-- Desv. padrão: 1.41 --|-- Mínimo: 0.00 --|-- Máximo: 10.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Cartões vermelhos 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 0.05 --|-- Desv. padrão: 0.23 --|-- Mínimo: 0.00 --|-- Máximo: 3.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 0.00 --|-- 75º percentil: 0.00 --|-- 95º percentil: 0.00
--------------
Cartões vermelhos 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 0.06 --|-- Desv. padrão: 0.25 --|-- Mínimo: 0.00 --|-- Máximo: 4.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 0.00 --|-- 75º percentil: 0.00 --|-- 95º percentil: 1.00
--------------
Cruzamentos 1
NaN's: 18701 --|-- Ocorrências: 9015 --|-- Média: 17.68 --|-- Desv. padrão: 8.02 --|-- Mínimo: 0.00 --|-- Máximo: 66.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 12.00 --|-- 50º percentil (mediana): 17.00 --|-- 75º percentil: 22.00 --|-- 95º percentil: 32.00
--------------
Cruzamentos 2
NaN's: 18701 --|-- Ocorrências: 9015 --|-- Média: 14.24 --|-- Desv. padrão: 7.08 --|-- Mínimo: 0.00 --|-- Máximo: 63.00 --|-- 5º percentil: 4.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 13.00 --|-- 75º percentil: 18.00 --|-- 95º percentil: 27.00
--------------
Laterais 1
NaN's: 12549 --|-- Ocorrências: 15167 --|-- Média: 15.74 --|-- Desv. padrão: 8.26 --|-- Mínimo: 0.00 --|-- Máximo: 48.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 16.00 --|-- 75º percentil: 22.00 --|-- 95º percentil: 30.00
--------------
Laterais 2
NaN's: 12549 --|-- Ocorrências: 15167 --|-- Média: 15.07 --|-- Desv. padrão: 8.09 --|-- Mínimo: 0.00 --|-- Máximo: 46.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 15.00 --|-- 75º percentil: 21.00 --|-- 95º percentil: 29.00
--------------
Chutes bloqueados 1
NaN's: 18873 --|-- Ocorrências: 8843 --|-- Média: 2.44 --|-- Desv. padrão: 1.89 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 6.00
--------------
Chutes bloqueados 2
NaN's: 18873 --|-- Ocorrências: 8843 --|-- Média: 1.93 --|-- Desv. padrão: 1.64 --|-- Mínimo: 0.00 --|-- Máximo: 12.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Contra-ataques 1
NaN's: 21453 --|-- Ocorrências: 6263 --|-- Média: 1.32 --|-- Desv. padrão: 1.49 --|-- Mínimo: 0.00 --|-- Máximo: 16.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Contra-ataques 2
NaN's: 21453 --|-- Ocorrências: 6263 --|-- Média: 1.16 --|-- Desv. padrão: 1.40 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Gols 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.53 --|-- Desv. padrão: 1.29 --|-- Mínimo: 0.00 --|-- Máximo: 10.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Gols 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.17 --|-- Desv. padrão: 1.14 --|-- Mínimo: 0.00 --|-- Máximo: 9.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 3.00
--------------
Tiro de meta 1
NaN's: 15701 --|-- Ocorrências: 12015 --|-- Média: 7.06 --|-- Desv. padrão: 3.19 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 2.00 --|-- 25º percentil: 5.00 --|-- 50º percentil (mediana): 7.00 --|-- 75º percentil: 9.00 --|-- 95º percentil: 13.00
--------------
Tiro de meta 2
NaN's: 15701 --|-- Ocorrências: 12015 --|-- Média: 8.37 --|-- Desv. padrão: 3.53 --|-- Mínimo: 0.00 --|-- Máximo: 27.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 6.00 --|-- 50º percentil (mediana): 8.00 --|-- 75º percentil: 11.00 --|-- 95º percentil: 15.00
--------------
Tratamentos 1
NaN's: 22697 --|-- Ocorrências: 5019 --|-- Média: 2.00 --|-- Desv. padrão: 2.26 --|-- Mínimo: 0.00 --|-- Máximo: 17.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 6.00
--------------
Tratamentos 2
NaN's: 22697 --|-- Ocorrências: 5019 --|-- Média: 2.13 --|-- Desv. padrão: 2.30 --|-- Mínimo: 0.00 --|-- Máximo: 16.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 7.00
--------------
Substituições 1
NaN's: 18296 --|-- Ocorrências: 9420 --|-- Média: 3.00 --|-- Desv. padrão: 1.02 --|-- Mínimo: 0.00 --|-- Máximo: 6.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Substituições 2
NaN's: 18296 --|-- Ocorrências: 9420 --|-- Média: 3.00 --|-- Desv. padrão: 1.03 --|-- Mínimo: 0.00 --|-- Máximo: 6.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Tiros-livres 1
NaN's: 21470 --|-- Ocorrências: 6246 --|-- Média: 14.16 --|-- Desv. padrão: 4.43 --|-- Mínimo: 1.00 --|-- Máximo: 36.00 --|-- 5º percentil: 7.00 --|-- 25º percentil: 11.00 --|-- 50º percentil (mediana): 14.00 --|-- 75º percentil: 17.00 --|-- 95º percentil: 22.00
--------------
Tiros-livres 2
NaN's: 21470 --|-- Ocorrências: 6246 --|-- Média: 14.25 --|-- Desv. padrão: 4.34 --|-- Mínimo: 0.00 --|-- Máximo: 33.00 --|-- 5º percentil: 8.00 --|-- 25º percentil: 11.00 --|-- 50º percentil (mediana): 14.00 --|-- 75º percentil: 17.00 --|-- 95º percentil: 22.00
--------------
Defesas difíceis 1
NaN's: 21520 --|-- Ocorrências: 6196 --|-- Média: 2.68 --|-- Desv. padrão: 1.84 --|-- Mínimo: 0.00 --|-- Máximo: 11.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 4.00 --|-- 95º percentil: 6.00
--------------
Defesas difíceis 2
NaN's: 21520 --|-- Ocorrências: 6196 --|-- Média: 3.21 --|-- Desv. padrão: 2.08 --|-- Mínimo: 0.00 --|-- Máximo: 17.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 2.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 4.00 --|-- 95º percentil: 7.00
--------------
Posse 1(%)
NaN's: 2350 --|-- Ocorrências: 25366 --|-- Média: 51.32 --|-- Desv. padrão: 9.83 --|-- Mínimo: 0.00 --|-- Máximo: 100.00 --|-- 5º percentil: 35.00 --|-- 25º percentil: 45.00 --|-- 50º percentil (mediana): 52.00 --|-- 75º percentil: 58.00 --|-- 95º percentil: 67.00
--------------
Posse 2(%)
NaN's: 2350 --|-- Ocorrências: 25366 --|-- Média: 48.51 --|-- Desv. padrão: 9.81 --|-- Mínimo: 0.00 --|-- Máximo: 100.00 --|-- 5º percentil: 33.00 --|-- 25º percentil: 42.00 --|-- 50º percentil (mediana): 48.00 --|-- 75º percentil: 55.00 --|-- 95º percentil: 65.00
--------------

In [8]:
# Analisando os valores máximos na célula acima, podemos ter uma noção de onde temos outliers.
# Nas células abaixo, usaremos alguns métodos para verificar outliers.

# Fazendo um loop pelos dados acima do percentil 99.9
df_numerico = df.select_dtypes(include='number')
for col in df_numerico.columns:
    p999 = df[col].quantile(0.999)
    outliers_col = df[df[col] > p999]

    print(f"\n📊 Coluna: {col}")
    print(f"🔎 Quantidade de outliers (> P999 = {p999:.2f}): {len(outliers_col)}")

    # Mostra os outliers da coluna (apenas as colunas relevantes)
    if not outliers_col.empty:
        display(outliers_col[[col]])
    else:
        print("✅ Nenhum outlier encontrado acima do P999.")

📊 Coluna: Chutes a gol 1
🔎 Quantidade de outliers (> P999 = 16.00): 23

       Chutes a gol 1
137              19.0
220              90.0
698              18.0
1037             19.0
1061             20.0
2101             21.0
3313             17.0
5753             17.0
6388             18.0
13493            19.0
13515            19.0
16085            17.0
16928            17.0
17266            19.0
17268            18.0
17269            23.0
17336            21.0
18521            17.0
21138            18.0
25120            18.0
26161            18.0
26966            17.0
27366            17.0

📊 Coluna: Chutes a gol 2
🔎 Quantidade de outliers (> P999 = 14.00): 22

       Chutes a gol 2
352              16.0
605              15.0
664              22.0
718              15.0
730              16.0
1997             17.0
2101             15.0
2410             80.0
2413             30.0
9751             16.0
11480            16.0
11851            17.0
17288            15.0
17341            20.0
17342            15.0
20778            15.0
21411            18.0
21895            15.0
22790            15.0
23629            15.0
24871            15.0
25051            15.0

📊 Coluna: Impedimentos 1
🔎 Quantidade de outliers (> P999 = 10.00): 19

       Impedimentos 1
1139             12.0
2076             11.0
2097             12.0
4433             11.0
6601             12.0
9897             11.0
12899            11.0
16187            11.0
16532            11.0
16553            12.0
16734            13.0
17118            12.0
17321            23.0
17389            11.0
19188            13.0
20660            14.0
22072            11.0
22332            11.0
25933            12.0

📊 Coluna: Impedimentos 2
🔎 Quantidade de outliers (> P999 = 10.00): 17

       Impedimentos 2
1139             11.0
2097             15.0
2156             14.0
2245             15.0
10828            11.0
11312            11.0
12232            11.0
12581            11.0
12956            12.0
13238            12.0
16206            11.0
18867            11.0
19179            14.0
20619            12.0
21292            13.0
25868            11.0
26989            11.0

📊 Coluna: Escanteios 1
🔎 Quantidade de outliers (> P999 = 17.61): 26

       Escanteios 1
271            18.0
412            22.0
5002           18.0
6195           20.0
6595           18.0
6904           18.0
8097           19.0
8673           18.0
8697           18.0
10918          19.0
11297          18.0
12958          18.0
13955          19.0
14861          18.0
15090          18.0
16152          22.0
16567          18.0
17243          18.0
20288          20.0
22717          18.0
24535          18.0
24769          19.0
25242          18.0
25529          18.0
26843          19.0
26948          19.0

📊 Coluna: Escanteios 2
🔎 Quantidade de outliers (> P999 = 15.00): 20

       Escanteios 2
113            16.0
134            17.0
917            21.0
2853           16.0
3023           16.0
5955           16.0
5975           17.0
6753           16.0
7256           18.0
8991           17.0
12312          18.0
15379          18.0
20131          17.0
23585          16.0
26444          17.0
26864          17.0
26938          19.0
26985          19.0
27088          16.0
27256          16.0

📊 Coluna: Chutes fora 1
🔎 Quantidade de outliers (> P999 = 20.00): 21

       Chutes fora 1
326             23.0
509             21.0
564             21.0
1547            22.0
1563            22.0
1732            22.0
4163            22.0
4439            21.0
11598           22.0
16085           22.0
16637           21.0
16899           21.0
17094           22.0
17095           21.0
17111           21.0
17272           21.0
17301           22.0
17354           22.0
21003           22.0
21403           22.0
26403           21.0

📊 Coluna: Chutes fora 2
🔎 Quantidade de outliers (> P999 = 18.00): 18

       Chutes fora 2
1525            19.0
1758            19.0
1808            19.0
1833            20.0
1834            21.0
1875            20.0
1897            20.0
2983            19.0
4041            19.0
4099            21.0
10592           21.0
16294           19.0
16923           20.0
17343           21.0
20968           20.0
21357          748.0
21388           19.0
27225           19.0

📊 Coluna: Faltas 1
🔎 Quantidade de outliers (> P999 = 28.00): 25

       Faltas 1
423        46.0
7266       29.0
7803       29.0
9654       29.0
9837       30.0
11912      29.0
12344      30.0
12383      34.0
12483      29.0
12627      34.0
14899      29.0
17074      31.0
17216      29.0
17348      29.0
17519      29.0
17609      31.0
19229      30.0
19236      29.0
19742      29.0
20037      29.0
20526      32.0
21051      30.0
21136      29.0
21335      30.0
22468      29.0

📊 Coluna: Faltas 2
🔎 Quantidade de outliers (> P999 = 29.00): 17

       Faltas 2
218        90.0
2410      180.0
2414      120.0
4935       30.0
7851       32.0
11573      30.0
12093      33.0
12225      32.0
12382      32.0
12468      30.0
12577      31.0
12809      30.0
17047      35.0
17632      30.0
17843      30.0
18074      31.0
21695      30.0

📊 Coluna: Cartões amarelos 1
🔎 Quantidade de outliers (> P999 = 7.00): 15

       Cartões amarelos 1
8413                  8.0
10682                 8.0
12064                 8.0
14283                11.0
18369                 8.0
19020                 8.0
19574                 8.0
20473                 8.0
20537                 8.0
20701                 9.0
21086                 8.0
21303                 8.0
21432                 8.0
21942                 8.0
21991                 8.0

📊 Coluna: Cartões amarelos 2
🔎 Quantidade de outliers (> P999 = 7.00): 21

       Cartões amarelos 2
4631                  8.0
4933                  8.0
11159                 8.0
12193                 8.0
12582                 9.0
13198                10.0
18103                 8.0
18375                 8.0
18376                 9.0
19215                 8.0
21303                 8.0
21519                10.0
21647                 8.0
21651                 9.0
21894                 8.0
21913                 8.0
22494                 9.0
22504                 8.0
22748                 9.0
25417                 9.0
26255                 8.0

📊 Coluna: Cartões vermelhos 1
🔎 Quantidade de outliers (> P999 = 2.00): 1

       Cartões vermelhos 1
16961                  3.0

📊 Coluna: Cartões vermelhos 2
🔎 Quantidade de outliers (> P999 = 2.00): 3

       Cartões vermelhos 2
9425                   3.0
12324                  4.0
13979                  3.0

📊 Coluna: Cruzamentos 1
🔎 Quantidade de outliers (> P999 = 52.00): 8

       Cruzamentos 1
9473            55.0
10830           55.0
13050           53.0
19618           53.0
23016           53.0
24965           54.0
26065           66.0
27607           63.0

📊 Coluna: Cruzamentos 2
🔎 Quantidade de outliers (> P999 = 47.00): 8

       Cruzamentos 2
5242            49.0
8866            49.0
9713            51.0
10873           48.0
11257           52.0
11362           63.0
23142           50.0
27175           50.0

📊 Coluna: Laterais 1
🔎 Quantidade de outliers (> P999 = 41.00): 14

       Laterais 1
1285         42.0
14574        42.0
14587        43.0
15192        42.0
15229        44.0
18166        46.0
18495        48.0
18661        47.0
21524        42.0
23792        43.0
24131        42.0
26392        45.0
27546        45.0
27560        44.0

📊 Coluna: Laterais 2
🔎 Quantidade de outliers (> P999 = 40.00): 14

       Laterais 2
1269         41.0
1271         42.0
8865         41.0
14364        41.0
14653        43.0
18685        44.0
18723        42.0
19051        44.0
21498        46.0
24342        46.0
24480        42.0
24533        45.0
27126        41.0
27668        45.0

📊 Coluna: Chutes bloqueados 1
🔎 Quantidade de outliers (> P999 = 12.00): 4

       Chutes bloqueados 1
25584                 14.0
25960                 13.0
26948                 14.0
27128                 15.0

📊 Coluna: Chutes bloqueados 2
🔎 Quantidade de outliers (> P999 = 9.16): 9

       Chutes bloqueados 2
7213                  10.0
7256                  10.0
12605                 10.0
19947                 10.0
24716                 10.0
25467                 10.0
25996                 12.0
26389                 10.0
27363                 10.0

📊 Coluna: Contra-ataques 1
🔎 Quantidade de outliers (> P999 = 11.00): 5

       Contra-ataques 1
6936               12.0
13870              13.0
15381              12.0
20245              13.0
23145              16.0

📊 Coluna: Contra-ataques 2
🔎 Quantidade de outliers (> P999 = 10.00): 4

       Contra-ataques 2
13848              11.0
13894              15.0
19580              13.0
21433              12.0

📊 Coluna: Gols 1
🔎 Quantidade de outliers (> P999 = 7.00): 17

       Gols 1
1088      8.0
1558      8.0
14749     9.0
15137     8.0
18773     8.0
20040    10.0
20550     9.0
21427     8.0
22155     8.0
22583     9.0
23377     9.0
23593     8.0
25513     8.0
26375     8.0
26605     8.0
27464     9.0
27708     8.0

📊 Coluna: Gols 2
🔎 Quantidade de outliers (> P999 = 6.00): 23

       Gols 2
935       7.0
2100      8.0
2348      8.0
3983      7.0
5666      7.0
5892      7.0
5941      7.0
7048      7.0
8001      7.0
9373      7.0
11047     7.0
11406     7.0
13011     7.0
15604     9.0
15794     7.0
20218     8.0
20297     8.0
20606     8.0
21753     7.0
21895     8.0
23294     7.0
23629     9.0
25051     7.0

📊 Coluna: Tiro de meta 1
🔎 Quantidade de outliers (> P999 = 19.00): 10

       Tiro de meta 1
6189             23.0
6217             20.0
6612             20.0
14808            20.0
14968            20.0
18331            22.0
18542            20.0
20246            20.0
22630            22.0
22684            20.0

📊 Coluna: Tiro de meta 2
🔎 Quantidade de outliers (> P999 = 21.00): 12

       Tiro de meta 2
5840             23.0
6099             22.0
7276             22.0
7385             23.0
7964             24.0
14730            22.0
18380            27.0
20513            22.0
22787            24.0
23909            23.0
24304            23.0
25702            22.0

📊 Coluna: Tratamentos 1
🔎 Quantidade de outliers (> P999 = 13.98): 6

       Tratamentos 1
10819           14.0
11406           17.0
12005           16.0
15532           15.0
19827           15.0
23133           14.0

📊 Coluna: Tratamentos 2
🔎 Quantidade de outliers (> P999 = 12.98): 6

       Tratamentos 2
5150            13.0
7771            15.0
11568           15.0
12185           13.0
13812           14.0
23085           16.0

📊 Coluna: Substituições 1
🔎 Quantidade de outliers (> P999 = 5.00): 6

       Substituições 1
1257               6.0
1490               6.0
1497               6.0
13750              6.0
22641              6.0
22669              6.0

📊 Coluna: Substituições 2
🔎 Quantidade de outliers (> P999 = 5.00): 7

       Substituições 2
1398               6.0
1421               6.0
13783              6.0
13859              6.0
13864              6.0
22696              6.0
22702              6.0

📊 Coluna: Tiros-livres 1
🔎 Quantidade de outliers (> P999 = 31.00): 4

       Tiros-livres 1
15011            34.0
18406            33.0
18599            33.0
19280            36.0

📊 Coluna: Tiros-livres 2
🔎 Quantidade de outliers (> P999 = 30.76): 7

       Tiros-livres 2
6535             32.0
14899            32.0
18534            32.0
18723            33.0
19229            32.0
19236            31.0
19436            32.0

📊 Coluna: Defesas difíceis 1
🔎 Quantidade de outliers (> P999 = 10.00): 2

       Defesas difíceis 1
14764                11.0
22790                11.0

📊 Coluna: Defesas difíceis 2
🔎 Quantidade de outliers (> P999 = 12.00): 4

       Defesas difíceis 2
5753                 14.0
6388                 17.0
6715                 13.0
24445                14.0

📊 Coluna: Posse 1(%)
🔎 Quantidade de outliers (> P999 = 83.00): 22

       Posse 1(%)
68           85.0
819         100.0
841         100.0
842         100.0
846         100.0
859         100.0
871         100.0
2457        100.0
6869        100.0
7001        100.0
7003        100.0
7004        100.0
10718       100.0
11084       100.0
18814        85.0
19616       100.0
19622       100.0
19652       100.0
19655       100.0
20887        84.0
24788       100.0
24855       100.0

📊 Coluna: Posse 2(%)
🔎 Quantidade de outliers (> P999 = 80.00): 25

       Posse 2(%)
75           81.0
113          83.0
571          99.0
868         100.0
2305        100.0
2841        100.0
3148        100.0
3183        100.0
3997        100.0
6837        100.0
6911        100.0
7005        100.0
10651       100.0
10923       100.0
18783        95.0
19138        83.0
19611       100.0
23512        82.0
23669        81.0
23946        82.0
24228        81.0
24265        81.0
24615        84.0
24787       100.0
24838       100.0

In [9]:

# Pelo Métdo do Intervalo Quartil 

# O IQR (Intervalo Interquartil) é uma medida estatística que mostra a dispersão central dos dados, ignorando os valores extremos. Ele é muito usado para detectar outliers.
# - Q1 (1º quartil): valor que separa os 25% menores valores
# - Q3 (3º quartil): valor que separa os 75% menores valores
# - O IQR seria IQR = Q3-Q1

# Definimos o limite para outliers:
# Limite  = Q3 + 1.5 × IQR
# Qualquer valor fora desse intervalo é considerado outlier.

# Portanto, aplicando o métdo

df_numerico = df.select_dtypes(include='number')
for col in df_numerico.columns:
    q001 = df[col].quantile(0.01)
    q99 = df[col].quantile(0.99)
    iqr = q99 - q001

    limite_inferior = q001 - 1.5 * iqr
    limite_superior = q99 + 1.5 * iqr

    outliers = df[(df[col] < limite_inferior) | (df[col] > limite_superior)]

    print(f"\n📊 Coluna: {col}")
    print(f"🔎 Outliers encontrados: {len(outliers)}")

    if not outliers.empty:
        print(outliers[[col]].head())  # Mostra só os primeiros outliers
    else:
        print("✅ Nenhum outlier detectado.")

📊 Coluna: Chutes a gol 1
🔎 Outliers encontrados: 1
     Chutes a gol 1
220            90.0

📊 Coluna: Chutes a gol 2
🔎 Outliers encontrados: 2
      Chutes a gol 2
2410            80.0
2413            30.0

📊 Coluna: Impedimentos 1
🔎 Outliers encontrados: 1
       Impedimentos 1
17321            23.0

📊 Coluna: Impedimentos 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Escanteios 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Escanteios 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Chutes fora 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Chutes fora 2
🔎 Outliers encontrados: 1
       Chutes fora 2
21357          748.0

📊 Coluna: Faltas 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Faltas 2
🔎 Outliers encontrados: 3
      Faltas 2
218       90.0
2410     180.0
2414     120.0

📊 Coluna: Cartões amarelos 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Cartões amarelos 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Cartões vermelhos 1
🔎 Outliers encontrados: 1
       Cartões vermelhos 1
16961                  3.0

📊 Coluna: Cartões vermelhos 2
🔎 Outliers encontrados: 3
       Cartões vermelhos 2
9425                   3.0
12324                  4.0
13979                  3.0

📊 Coluna: Cruzamentos 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Cruzamentos 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Laterais 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Laterais 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Chutes bloqueados 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Chutes bloqueados 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Contra-ataques 1
🔎 Outliers encontrados: 1
       Contra-ataques 1
23145              16.0

📊 Coluna: Contra-ataques 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Gols 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Gols 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tiro de meta 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tiro de meta 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tratamentos 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tratamentos 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Substituições 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Substituições 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tiros-livres 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Tiros-livres 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Defesas difíceis 1
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Defesas difíceis 2
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Posse 1(%)
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

📊 Coluna: Posse 2(%)
🔎 Outliers encontrados: 0
✅ Nenhum outlier detectado.

In [10]:
# Agora, pelo métoddo dos z-scores
# O z-score mede o quão distante (em número de desvios padrão) um valor está da média da sua distribuição:
from scipy.stats import zscore

z = (x−μ)/σ

In [11]:
df_numerico = df.select_dtypes(include='number')
for col in df_numerico.columns:
    z = zscore(df[col], nan_policy='omit')  # calcula z-score, ignorando NaNs
    z_series = pd.Series(z, index=df.index)
    outliers = df[z_series.abs() > 4]

    print(f'\nOutliers na coluna "{col}":')
    print(outliers[[col]])

Outliers na coluna "Chutes a gol 1":
       Chutes a gol 1
137              19.0
220              90.0
301              16.0
698              18.0
1037             19.0
1061             20.0
1097             16.0
2071             16.0
2101             21.0
3313             17.0
5753             17.0
5775             16.0
6388             18.0
6715             16.0
6743             16.0
7019             16.0
7666             16.0
8959             16.0
9346             16.0
11250            16.0
13493            19.0
13515            19.0
16085            17.0
16928            17.0
17266            19.0
17268            18.0
17269            23.0
17336            21.0
18521            17.0
21138            18.0
21632            16.0
24812            16.0
25120            18.0
25327            16.0
25529            16.0
25728            16.0
25998            16.0
26161            18.0
26966            17.0
27366            17.0
27411            16.0
27607            16.0

Outliers na coluna "Chutes a gol 2":
       Chutes a gol 2
352              16.0
605              15.0
664              22.0
718              15.0
730              16.0
880              14.0
1050             14.0
1213             14.0
1997             17.0
2101             15.0
2410             80.0
2413             30.0
3572             14.0
4408             14.0
4605             14.0
5290             14.0
5892             14.0
9751             16.0
10043            14.0
11282            14.0
11406            14.0
11480            16.0
11851            17.0
12481            14.0
13375            14.0
17270            14.0
17288            15.0
17291            14.0
17341            20.0
17342            15.0
19794            14.0
20778            15.0
21394            14.0
21411            18.0
21895            15.0
21937            14.0
22335            14.0
22482            14.0
22696            14.0
22790            15.0
23629            15.0
24871            15.0
25051            15.0
26824            14.0

Outliers na coluna "Impedimentos 1":
       Impedimentos 1
1139             12.0
1179             10.0
1471             10.0
1983             10.0
2076             11.0
2095             10.0
2097             12.0
2156             10.0
2245             10.0
4043             10.0
4433             11.0
6142             10.0
6167             10.0
6601             12.0
7307             10.0
7624             10.0
7716             10.0
7882             10.0
8203             10.0
8444             10.0
8818             10.0
8876             10.0
9077             10.0
9178             10.0
9248             10.0
9268             10.0
9451             10.0
9897             11.0
12468            10.0
12540            10.0
12899            11.0
15102            10.0
16187            11.0
16216            10.0
16532            11.0
16553            12.0
16734            13.0
17118            12.0
17321            23.0
17389            11.0
19188            13.0
19248            10.0
19730            10.0
19885            10.0
20117            10.0
20122            10.0
20660            14.0
20670            10.0
20725            10.0
20928            10.0
21231            10.0
21295            10.0
21387            10.0
22072            11.0
22332            11.0
22375            10.0
24533            10.0
25933            12.0
26863            10.0

Outliers na coluna "Impedimentos 2":
       Impedimentos 2
336               9.0
1139             11.0
1702              9.0
2005             10.0
2066              9.0
...               ...
25225            10.0
25591             9.0
25868            11.0
26989            11.0
27492             9.0

[82 rows x 1 columns]

Outliers na coluna "Escanteios 1":
       Escanteios 1
271            18.0
412            22.0
5002           18.0
6195           20.0
6595           18.0
6904           18.0
8097           19.0
8673           18.0
8697           18.0
10918          19.0
11297          18.0
12958          18.0
13955          19.0
14861          18.0
15090          18.0
16152          22.0
16567          18.0
17243          18.0
20288          20.0
22717          18.0
24535          18.0
24769          19.0
25242          18.0
25529          18.0
26843          19.0
26948          19.0

Outliers na coluna "Escanteios 2":
       Escanteios 2
113            16.0
134            17.0
268            15.0
304            15.0
555            15.0
557            15.0
917            21.0
1487           15.0
1660           15.0
1899           15.0
2536           15.0
2853           16.0
3023           16.0
3297           15.0
5137           15.0
5355           15.0
5955           16.0
5975           17.0
6629           15.0
6753           16.0
7256           18.0
8116           15.0
8991           17.0
9066           15.0
9921           15.0
11037          15.0
11257          15.0
11851          15.0
12312          18.0
12427          15.0
13647          15.0
15379          18.0
15493          15.0
15534          15.0
20131          17.0
21014          15.0
23585          16.0
24911          15.0
26383          15.0
26444          17.0
26738          15.0
26864          17.0
26938          19.0
26985          19.0
27088          16.0
27256          16.0

Outliers na coluna "Chutes fora 1":
       Chutes fora 1
326             23.0
509             21.0
564             21.0
1453            20.0
1547            22.0
1563            22.0
1656            19.0
1732            22.0
1810            20.0
3360            20.0
3519            19.0
4163            22.0
4292            19.0
4325            19.0
4439            21.0
6595            19.0
7964            19.0
11598           22.0
12137           20.0
12175           20.0
12797           20.0
14409           20.0
16085           22.0
16458           19.0
16637           21.0
16740           20.0
16873           19.0
16899           21.0
17007           19.0
17009           19.0
17094           22.0
17095           21.0
17111           21.0
17272           21.0
17301           22.0
17354           22.0
17535           20.0
20695           20.0
21003           22.0
21096           20.0
21139           20.0
21317           20.0
21403           22.0
21567           19.0
22161           20.0
26403           21.0
26528           19.0
26723           19.0

Outliers na coluna "Chutes fora 2":
       Chutes fora 2
21357          748.0

Outliers na coluna "Faltas 1":
       Faltas 1
423        46.0
12383      34.0
12627      34.0
17074      31.0
17609      31.0
20526      32.0

Outliers na coluna "Faltas 2":
       Faltas 2
218        90.0
2410      180.0
2414      120.0
7851       32.0
12093      33.0
12225      32.0
12382      32.0
17047      35.0

Outliers na coluna "Cartões amarelos 1":
       Cartões amarelos 1
8413                  8.0
10682                 8.0
12064                 8.0
14283                11.0
18369                 8.0
19020                 8.0
19574                 8.0
20473                 8.0
20537                 8.0
20701                 9.0
21086                 8.0
21303                 8.0
21432                 8.0
21942                 8.0
21991                 8.0

Outliers na coluna "Cartões amarelos 2":
       Cartões amarelos 2
4631                  8.0
4933                  8.0
11159                 8.0
12193                 8.0
12582                 9.0
13198                10.0
18103                 8.0
18375                 8.0
18376                 9.0
19215                 8.0
21303                 8.0
21519                10.0
21647                 8.0
21651                 9.0
21894                 8.0
21913                 8.0
22494                 9.0
22504                 8.0
22748                 9.0
25417                 9.0
26255                 8.0

Outliers na coluna "Cartões vermelhos 1":
       Cartões vermelhos 1
2                      1.0
7                      1.0
20                     1.0
60                     1.0
79                     1.0
...                    ...
27587                  1.0
27607                  1.0
27611                  1.0
27642                  1.0
27687                  1.0

[1326 rows x 1 columns]

Outliers na coluna "Cartões vermelhos 2":
       Cartões vermelhos 2
71                     2.0
540                    2.0
939                    2.0
5499                   2.0
5817                   2.0
...                    ...
25910                  2.0
26665                  2.0
26843                  2.0
27055                  2.0
27438                  2.0

[75 rows x 1 columns]

Outliers na coluna "Cruzamentos 1":
       Cruzamentos 1
7019            52.0
9473            55.0
10830           55.0
11325           50.0
11333           51.0
11632           51.0
11918           50.0
13050           53.0
13865           52.0
13880           52.0
13896           50.0
19618           53.0
19791           52.0
21864           52.0
22654           51.0
23016           53.0
24965           54.0
25659           51.0
25930           51.0
26065           66.0
27086           52.0
27118           50.0
27249           50.0
27607           63.0

Outliers na coluna "Cruzamentos 2":
       Cruzamentos 2
1301            46.0
1380            44.0
5242            49.0
8866            49.0
9159            46.0
9713            51.0
10873           48.0
11257           52.0
11362           63.0
11793           46.0
13085           43.0
13616           44.0
13650           44.0
20035           43.0
21441           43.0
22297           47.0
23142           50.0
24892           47.0
26616           44.0
26978           47.0
27175           50.0

Outliers na coluna "Laterais 1":
Empty DataFrame
Columns: [Laterais 1]
Index: []

Outliers na coluna "Laterais 2":
Empty DataFrame
Columns: [Laterais 2]
Index: []

Outliers na coluna "Chutes bloqueados 1":
       Chutes bloqueados 1
7605                  12.0
7782                  11.0
12797                 12.0
19918                 11.0
23004                 12.0
23006                 12.0
23095                 11.0
25015                 12.0
25311                 12.0
25415                 11.0
25584                 14.0
25960                 13.0
26466                 11.0
26543                 11.0
26567                 11.0
26948                 14.0
27128                 15.0

Outliers na coluna "Chutes bloqueados 2":
       Chutes bloqueados 2
5228                   9.0
7213                  10.0
7256                  10.0
7394                   9.0
11406                  9.0
12605                 10.0
19947                 10.0
20407                  9.0
24716                 10.0
24720                  9.0
25248                  9.0
25285                  9.0
25467                 10.0
25503                  9.0
25763                  9.0
25774                  9.0
25800                  9.0
25996                 12.0
26037                  9.0
26389                 10.0
26565                  9.0
26609                  9.0
26817                  9.0
27261                  9.0
27363                 10.0
27562                  9.0

Outliers na coluna "Contra-ataques 1":
       Contra-ataques 1
5179                8.0
5278                8.0
5304                8.0
6936               12.0
7141               11.0
7264                8.0
7424                9.0
7451                9.0
7538                8.0
12008               8.0
12249              11.0
12303               9.0
13820               8.0
13822              10.0
13870              13.0
13871               8.0
13894               8.0
15381              12.0
19847              11.0
20070               8.0
20127               8.0
20219              10.0
20236               9.0
20245              13.0
20255               8.0
20446               8.0
21432               9.0
21570               8.0
22579               8.0
22699               8.0
23080               9.0
23105               8.0
23124               8.0
23145              16.0
25416               9.0

Outliers na coluna "Contra-ataques 2":
       Contra-ataques 2
5163               10.0
5272                8.0
5293                8.0
6936                9.0
7048                7.0
7125                9.0
7141                7.0
7218                7.0
7254                7.0
7301                7.0
7380                9.0
7411               10.0
7450                7.0
7451               10.0
7743                7.0
7775                8.0
7856                7.0
7912                7.0
7933                7.0
11139               7.0
12023              10.0
13572               9.0
13595               9.0
13685               7.0
13848              11.0
13894              15.0
15447               7.0
19580              13.0
20255               8.0
20516               7.0
20604               7.0
21425               9.0
21433              12.0
21561               9.0
22425               9.0
22602               9.0
22699               7.0
22999               7.0
23003               7.0
23043               7.0
23089              10.0
24942               8.0
25181               7.0
25383               8.0
25611               7.0
25659              10.0
25734               7.0
26123               7.0
26761               7.0
27163               7.0

Outliers na coluna "Gols 1":
       Gols 1
129       7.0
382       7.0
820       7.0
1088      8.0
1215      7.0
...       ...
27464     9.0
27550     7.0
27650     7.0
27695     7.0
27708     8.0

[63 rows x 1 columns]

Outliers na coluna "Gols 2":
       Gols 2
70        6.0
352       6.0
935       7.0
988       6.0
1677      6.0
...       ...
26663     6.0
26906     6.0
26972     6.0
27343     6.0
27662     6.0

[85 rows x 1 columns]

Outliers na coluna "Tiro de meta 1":
       Tiro de meta 1
6189             23.0
6217             20.0
6612             20.0
14808            20.0
14968            20.0
18331            22.0
18542            20.0
20246            20.0
22630            22.0
22684            20.0

Outliers na coluna "Tiro de meta 2":
       Tiro de meta 2
5840             23.0
7385             23.0
7964             24.0
18380            27.0
22787            24.0
23909            23.0
24304            23.0

Outliers na coluna "Tratamentos 1":
       Tratamentos 1
1388            12.0
7134            12.0
7510            12.0
10819           14.0
11165           13.0
11293           12.0
11398           12.0
11406           17.0
11894           13.0
11955           12.0
11977           13.0
12005           16.0
12251           12.0
12312           12.0
12392           12.0
13594           13.0
15532           15.0
19556           13.0
19827           15.0
22650           13.0
23133           14.0
23134           12.0

Outliers na coluna "Tratamentos 2":
       Tratamentos 2
5150            13.0
7771            15.0
11494           12.0
11568           15.0
11962           12.0
12185           13.0
13812           14.0
23085           16.0
24906           12.0
24990           12.0

Outliers na coluna "Substituições 1":
Empty DataFrame
Columns: [Substituições 1]
Index: []

Outliers na coluna "Substituições 2":
Empty DataFrame
Columns: [Substituições 2]
Index: []

Outliers na coluna "Tiros-livres 1":
       Tiros-livres 1
15011            34.0
18406            33.0
18599            33.0
19280            36.0

Outliers na coluna "Tiros-livres 2":
       Tiros-livres 2
6535             32.0
14899            32.0
18534            32.0
18723            33.0
19229            32.0
19436            32.0

Outliers na coluna "Defesas difíceis 1":
       Defesas difíceis 1
14764                11.0
22790                11.0

Outliers na coluna "Defesas difíceis 2":
       Defesas difíceis 2
5753                 14.0
6388                 17.0
6453                 12.0
6715                 13.0
18465                12.0
18521                12.0
23636                12.0
24312                12.0
24445                14.0

Outliers na coluna "Posse 1(%)":
       Posse 1(%)
131           0.0
307           0.0
571           1.0
584           0.0
634           0.0
...           ...
24827         0.0
24838         0.0
24839         0.0
24841         0.0
24855       100.0

[80 rows x 1 columns]

Outliers na coluna "Posse 2(%)":
       Posse 2(%)
131           0.0
307           0.0
571          99.0
584           0.0
634           0.0
...           ...
24827         0.0
24838       100.0
24839         0.0
24841         0.0
24855         0.0

[80 rows x 1 columns]

In [12]:
## Tendo aplicado esses métodos, conseguimos identificar alguns outliers. Os outliers estão melhores detalhados no arquivo outliers.txt
outliers = (218, 220, 423, 571, 819, 841, 842, 846, 859, 868, 871, 1257,
            1490, 1497, 2305, 2410, 2414, 2457, 2841, 3148, 3183, 3997,
            5150, 6837, 6869, 6911, 7001, 7003, 7004, 7005, 7771, 10651,
            10718, 10819, 10923, 11084, 11406, 11568, 12005, 12185, 13750,
            13812, 14283, 15532, 19611, 19616, 19622, 19652, 19655, 19827,
            21357, 22641, 22669, 23085, 23133, 24787, 24788, 24838, 24855)

df.iloc[list(outliers)]

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
218,5.0,5.0,0.0,0.0,7.0,2.0,17.0,4.0,10.0,90.0,...,NaN,NaN,NaN,NaN,67.0,33.0,Celtic,Hamilton,4-2-3-1,4-5-1
220,90.0,3.0,0.0,0.0,5.0,5.0,10.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Hearts,Livingston,4-2-3-1,4-2-3-1
423,0.0,3.0,0.0,2.0,2.0,7.0,4.0,9.0,46.0,13.0,...,NaN,NaN,NaN,NaN,51.0,49.0,Motherwell,Kilmarnock,3-5-2,4-2-3-1
571,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,99.0,Ross County,Hibernian,4-4-2,4-4-2
819,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Celtic,Hamilton,3-5-2,4-1-4-1
841,4.0,0.0,NaN,NaN,0.0,7.0,0.0,9.0,0.0,13.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Motherwell,Partick T.,4-4-2,5-3-2
842,NaN,NaN,3.0,0.0,NaN,NaN,5.0,0.0,11.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,St.Johnstone,Ross County,4-4-1-1,4-4-2
846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Dundee FC,Inverness,3-5-2,4-2-3-1
859,0.0,0.0,0.0,0.0,NaN,NaN,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,0.0,Dundee FC,Ross County,3-5-2,4-3-3
868,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,100.0,Ross County,Aberdeen,4-4-2,4-2-3-1
871,4.0,9.0,0.0,0.0,5.0,0.0,5.0,11.0,11.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Motherwell,Aberdeen,4-4-1-1,4-2-3-1
1257,5.0,3.0,2.0,0.0,6.0,2.0,4.0,1.0,11.0,12.0,...,NaN,NaN,NaN,NaN,61.0,39.0,Tokushima Vortis,Avispa Fukuoka,4-2-3-1,4-4-2
1490,2.0,1.0,3.0,1.0,2.0,5.0,1.0,7.0,13.0,12.0,...,NaN,NaN,NaN,NaN,46.0,54.0,Oita Trinita,Shonan Bellmare,3-4-2-1,3-1-4-2
1497,3.0,6.0,0.0,3.0,2.0,5.0,7.0,6.0,14.0,7.0,...,NaN,NaN,NaN,NaN,48.0,52.0,Kashiwa Reysol,Sanfrecce Hiroshima,NaN,3-4-2-1
2305,1.0,6.0,2.0,7.0,3.0,11.0,2.0,5.0,13.0,17.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Yokohama F.Marinos,Kashima Antlers,4-2-1-3,4-3-3
2410,8.0,80.0,3.0,0.0,9.0,8.0,2.0,2.0,12.0,180.0,...,NaN,NaN,NaN,NaN,36.0,64.0,Kashima Antlers,Yokohama F.Marinos,4-4-2,3-4-3
2414,6.0,5.0,1.0,3.0,9.0,4.0,8.0,5.0,11.0,120.0,...,NaN,NaN,NaN,NaN,43.0,57.0,Vegalta Sendai,Gamba Osaka,3-4-3,4-4-2
2457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Urawa Red Diamonds,Kashiwa Reysol,3-5-2,4-4-2
2841,3.0,5.0,0.0,1.0,4.0,2.0,1.0,2.0,17.0,18.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Sandefjord,Mjondalen,4-3-3,4-3-3
3148,4.0,3.0,2.0,1.0,7.0,2.0,6.0,4.0,17.0,9.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Sandefjord,Molde,4-2-3-1,4-2-3-1
3183,11.0,2.0,1.0,1.0,11.0,3.0,6.0,2.0,10.0,5.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Bodø/Glimt,Start,4-3-3,4-3-3
3997,1.0,3.0,0.0,0.0,5.0,7.0,10.0,7.0,16.0,18.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Molde,Kristiansund BK,3-5-2,4-4-1-1
5150,5.0,2.0,0.0,0.0,4.0,1.0,3.0,4.0,14.0,11.0,...,NaN,NaN,NaN,NaN,45.0,55.0,Udinese,Fiorentina,3-5-2,4-3-3
6837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,100.0,Palermo,Sassuolo,3-4-3,4-3-3
6869,4.0,0.0,2.0,0.0,2.0,0.0,5.0,0.0,14.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Bologna,Sampdoria,4-3-3,4-3-1-2
6911,NaN,NaN,0.0,2.0,NaN,NaN,0.0,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,100.0,Cagliari,Fiorentina,4-1-2-1-2,3-4-1-2
7001,9.0,0.0,2.0,0.0,5.0,0.0,NaN,NaN,11.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Cagliari,Sassuolo,4-3-1-2,4-3-3
7003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,0.0,Sampdoria,Udinese,4-3-1-2,4-3-3
7004,5.0,0.0,1.0,0.0,5.0,0.0,2.0,0.0,18.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Torino,Genoa,4-3-3,3-4-2-1
7005,0.0,2.0,NaN,NaN,NaN,NaN,0.0,11.0,0.0,14.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Palermo,Pescara,3-4-2-1,4-3-3
7771,7.0,6.0,1.0,0.0,1.0,1.0,8.0,1.0,21.0,16.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Cesena,Torino,4-3-1-2,3-5-2
10651,3.0,5.0,0.0,4.0,1.0,8.0,3.0,2.0,13.0,18.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Gaziantep BB,Yeni Malatyaspor,3-5-2,4-2-3-1
10718,1.0,3.0,0.0,2.0,7.0,0.0,8.0,6.0,10.0,10.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Goztepe,Istambul BB,4-2-3-1,4-3-3
10819,4.0,7.0,3.0,1.0,10.0,9.0,6.0,2.0,12.0,7.0,...,NaN,NaN,NaN,NaN,35.0,65.0,Erzurum BB,Besiktas,4-2-3-1,4-2-3-1
10923,3.0,4.0,3.0,1.0,0.0,2.0,7.0,3.0,12.0,4.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Rizespor,Ankaragucu,4-2-3-1,4-2-3-1
11084,1.0,5.0,2.0,1.0,0.0,8.0,2.0,9.0,13.0,21.0,...,NaN,NaN,NaN,NaN,100.0,0.0,MP Antalyaspor,Burzaspor,4-2-3-1,4-2-3-1
11406,3.0,14.0,2.0,1.0,2.0,12.0,1.0,7.0,10.0,13.0,...,NaN,NaN,NaN,NaN,37.0,63.0,Karabukspor,Fenerbahçe,4-2-3-1,4-4-2
11568,9.0,4.0,4.0,2.0,7.0,1.0,4.0,2.0,13.0,20.0,...,NaN,NaN,NaN,NaN,60.0,40.0,Fenerbahçe,Adanaspor,4-2-3-1,4-2-3-1
12005,11.0,6.0,1.0,1.0,4.0,5.0,6.0,7.0,9.0,8.0,...,NaN,NaN,NaN,NaN,48.0,52.0,Trabzonspor,Rizespor,4-2-3-1,4-2-3-1
12185,6.0,6.0,1.0,5.0,6.0,4.0,4.0,4.0,14.0,17.0,...,NaN,NaN,NaN,NaN,49.0,51.0,Karabukspor,Fenerbahçe,4-2-3-1,4-2-3-1
13750,6.0,3.0,3.0,3.0,6.0,3.0,7.0,7.0,16.0,13.0,...,NaN,NaN,NaN,NaN,67.0,33.0,Monaco,Saint Etienne,4-4-2,4-2-3-1
13812,4.0,6.0,3.0,6.0,9.0,7.0,8.0,6.0,8.0,9.0,...,NaN,NaN,NaN,NaN,76.0,24.0,Olympique,Metz,3-4-2-1,3-4-1-2
14283,6.0,3.0,3.0,0.0,2.0,1.0,9.0,2.0,21.0,12.0,...,12.0,24.0,1.0,5.0,52.0,48.0,Nimes,Nice,4-5-1,4-3-3
15532,3.0,2.0,2.0,2.0,1.0,6.0,2.0,4.0,12.0,16.0,...,NaN,NaN,NaN,NaN,38.0,62.0,Bastia,Lyon,4-2-3-1,4-1-2-3
19611,0.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,20.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Real Madrid,Leganes,4-3-3,4-3-3
19616,3.0,4.0,7.0,3.0,4.0,0.0,2.0,0.0,21.0,10.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Betis,Las Palmas,5-3-2,4-3-3
19622,11.0,0.0,NaN,NaN,NaN,NaN,6.0,0.0,7.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Valencia,Granada,4-2-3-1,5-4-1
19652,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Celta Vigo,Sevilla,4-2-3-1,4-1-4-1
19655,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,100.0,0.0,Villarreal,Atletico de Madri,4-4-2,4-4-2
19827,4.0,3.0,1.0,1.0,7.0,6.0,5.0,6.0,16.0,13.0,...,NaN,NaN,NaN,NaN,51.0,49.0,Malaga,Valencia,4-2-3-1,4-2-3-1
21357,4.0,5.0,4.0,2.0,6.0,2.0,7.0,748.0,22.0,13.0,...,NaN,NaN,NaN,NaN,37.0,63.0,Granada,Malaga,4-2-3-1,4-2-3-1
22641,7.0,3.0,1.0,1.0,4.0,5.0,6.0,5.0,9.0,17.0,...,NaN,NaN,NaN,NaN,48.0,52.0,Utrecht,Willem II,4-2-3-1,4-4-2
22669,1.0,0.0,2.0,6.0,6.0,3.0,10.0,7.0,13.0,13.0,...,NaN,NaN,NaN,NaN,43.0,57.0,Vitesse,AZ,5-3-2,5-3-2
23085,6.0,4.0,3.0,5.0,6.0,0.0,3.0,3.0,18.0,16.0,...,NaN,NaN,NaN,NaN,50.0,50.0,Watford,Chelsea,4-1-4-1,3-4-2-1
23133,8.0,4.0,2.0,3.0,2.0,3.0,3.0,2.0,11.0,8.0,...,NaN,NaN,NaN,NaN,30.0,70.0,Newcastle,Manchester Utd,4-4-1-1,4-2-3-1
24787,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,100.0,Leicester,West Bromwich,4-4-2,4-2-3-1
24788,0.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,0.0,Manchester Utd,Arsenal,4-2-3-1,4-2-3-1
24838,0.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,3.0,1.0,...,NaN,NaN,NaN,NaN,0.0,100.0,Crystal Palace,Chelsea,4-2-3-1,3-4-3
24855,0.0,6.0,NaN,NaN,NaN,NaN,7.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,0.0,Hull,Manchester City,3-5-1-1,4-2-3-1

In [13]:
# Vamos eliminar esses outliers.
df_sem_outliers = df.drop(df.index[list(outliers)])
df_sem_outliers

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,4-3-3,4-3-3
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,3-5-2,3-5-2
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,4-3-3,3-4-1-2
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,3-4-3,4-2-3-1
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,4-4-2,3-5-1-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27711,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,4-4-2,4-5-1
27712,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,4-2-3-1,4-4-2
27713,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,4-4-2,4-4-2
27714,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,4-5-1,4-4-2
27715,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,4-4-2,4-2-3-1

In [14]:
for col in df.select_dtypes(include="number").columns:
    print(f'\033[1m{col}\033[0m')
    histogram_and_stats(df,col,plot=False)

Chutes a gol 1
NaN's: 1512 --|-- Ocorrências: 26204 --|-- Média: 4.77 --|-- Desv. padrão: 2.80 --|-- Mínimo: 0.00 --|-- Máximo: 90.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 6.00 --|-- 95º percentil: 10.00
--------------
Chutes a gol 2
NaN's: 1512 --|-- Ocorrências: 26204 --|-- Média: 3.85 --|-- Desv. padrão: 2.44 --|-- Mínimo: 0.00 --|-- Máximo: 80.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 2.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 5.00 --|-- 95º percentil: 8.00
--------------
Impedimentos 1
NaN's: 2774 --|-- Ocorrências: 24942 --|-- Média: 2.14 --|-- Desv. padrão: 1.75 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Impedimentos 2
NaN's: 2774 --|-- Ocorrências: 24942 --|-- Média: 1.97 --|-- Desv. padrão: 1.68 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Escanteios 1
NaN's: 2328 --|-- Ocorrências: 25388 --|-- Média: 5.55 --|-- Desv. padrão: 2.98 --|-- Mínimo: 0.00 --|-- Máximo: 22.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 5.00 --|-- 75º percentil: 7.00 --|-- 95º percentil: 11.00
--------------
Escanteios 2
NaN's: 2328 --|-- Ocorrências: 25388 --|-- Média: 4.46 --|-- Desv. padrão: 2.62 --|-- Mínimo: 0.00 --|-- Máximo: 21.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 4.00 --|-- 75º percentil: 6.00 --|-- 95º percentil: 9.00
--------------
Chutes fora 1
NaN's: 2324 --|-- Ocorrências: 25392 --|-- Média: 6.03 --|-- Desv. padrão: 3.22 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 2.00 --|-- 25º percentil: 4.00 --|-- 50º percentil (mediana): 6.00 --|-- 75º percentil: 8.00 --|-- 95º percentil: 12.00
--------------
Chutes fora 2
NaN's: 2324 --|-- Ocorrências: 25392 --|-- Média: 4.96 --|-- Desv. padrão: 5.45 --|-- Mínimo: 0.00 --|-- Máximo: 748.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 5.00 --|-- 75º percentil: 7.00 --|-- 95º percentil: 10.00
--------------
Faltas 1
NaN's: 2322 --|-- Ocorrências: 25394 --|-- Média: 12.69 --|-- Desv. padrão: 4.34 --|-- Mínimo: 0.00 --|-- Máximo: 46.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 10.00 --|-- 50º percentil (mediana): 12.00 --|-- 75º percentil: 15.00 --|-- 95º percentil: 20.00
--------------
Faltas 2
NaN's: 2322 --|-- Ocorrências: 25394 --|-- Média: 12.95 --|-- Desv. padrão: 4.61 --|-- Mínimo: 0.00 --|-- Máximo: 180.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 10.00 --|-- 50º percentil (mediana): 13.00 --|-- 75º percentil: 16.00 --|-- 95º percentil: 21.00
--------------
Cartões amarelos 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.86 --|-- Desv. padrão: 1.35 --|-- Mínimo: 0.00 --|-- Máximo: 11.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 4.00
--------------
Cartões amarelos 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 2.12 --|-- Desv. padrão: 1.41 --|-- Mínimo: 0.00 --|-- Máximo: 10.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Cartões vermelhos 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 0.05 --|-- Desv. padrão: 0.23 --|-- Mínimo: 0.00 --|-- Máximo: 3.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 0.00 --|-- 75º percentil: 0.00 --|-- 95º percentil: 0.00
--------------
Cartões vermelhos 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 0.06 --|-- Desv. padrão: 0.25 --|-- Mínimo: 0.00 --|-- Máximo: 4.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 0.00 --|-- 75º percentil: 0.00 --|-- 95º percentil: 1.00
--------------
Cruzamentos 1
NaN's: 18701 --|-- Ocorrências: 9015 --|-- Média: 17.68 --|-- Desv. padrão: 8.02 --|-- Mínimo: 0.00 --|-- Máximo: 66.00 --|-- 5º percentil: 6.00 --|-- 25º percentil: 12.00 --|-- 50º percentil (mediana): 17.00 --|-- 75º percentil: 22.00 --|-- 95º percentil: 32.00
--------------
Cruzamentos 2
NaN's: 18701 --|-- Ocorrências: 9015 --|-- Média: 14.24 --|-- Desv. padrão: 7.08 --|-- Mínimo: 0.00 --|-- Máximo: 63.00 --|-- 5º percentil: 4.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 13.00 --|-- 75º percentil: 18.00 --|-- 95º percentil: 27.00
--------------
Laterais 1
NaN's: 12549 --|-- Ocorrências: 15167 --|-- Média: 15.74 --|-- Desv. padrão: 8.26 --|-- Mínimo: 0.00 --|-- Máximo: 48.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 16.00 --|-- 75º percentil: 22.00 --|-- 95º percentil: 30.00
--------------
Laterais 2
NaN's: 12549 --|-- Ocorrências: 15167 --|-- Média: 15.07 --|-- Desv. padrão: 8.09 --|-- Mínimo: 0.00 --|-- Máximo: 46.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 9.00 --|-- 50º percentil (mediana): 15.00 --|-- 75º percentil: 21.00 --|-- 95º percentil: 29.00
--------------
Chutes bloqueados 1
NaN's: 18873 --|-- Ocorrências: 8843 --|-- Média: 2.44 --|-- Desv. padrão: 1.89 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 6.00
--------------
Chutes bloqueados 2
NaN's: 18873 --|-- Ocorrências: 8843 --|-- Média: 1.93 --|-- Desv. padrão: 1.64 --|-- Mínimo: 0.00 --|-- Máximo: 12.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Contra-ataques 1
NaN's: 21453 --|-- Ocorrências: 6263 --|-- Média: 1.32 --|-- Desv. padrão: 1.49 --|-- Mínimo: 0.00 --|-- Máximo: 16.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Contra-ataques 2
NaN's: 21453 --|-- Ocorrências: 6263 --|-- Média: 1.16 --|-- Desv. padrão: 1.40 --|-- Mínimo: 0.00 --|-- Máximo: 15.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Gols 1
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.53 --|-- Desv. padrão: 1.29 --|-- Mínimo: 0.00 --|-- Máximo: 10.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 4.00
--------------
Gols 2
NaN's: 0 --|-- Ocorrências: 27716 --|-- Média: 1.17 --|-- Desv. padrão: 1.14 --|-- Mínimo: 0.00 --|-- Máximo: 9.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 2.00 --|-- 95º percentil: 3.00
--------------
Tiro de meta 1
NaN's: 15701 --|-- Ocorrências: 12015 --|-- Média: 7.06 --|-- Desv. padrão: 3.19 --|-- Mínimo: 0.00 --|-- Máximo: 23.00 --|-- 5º percentil: 2.00 --|-- 25º percentil: 5.00 --|-- 50º percentil (mediana): 7.00 --|-- 75º percentil: 9.00 --|-- 95º percentil: 13.00
--------------
Tiro de meta 2
NaN's: 15701 --|-- Ocorrências: 12015 --|-- Média: 8.37 --|-- Desv. padrão: 3.53 --|-- Mínimo: 0.00 --|-- Máximo: 27.00 --|-- 5º percentil: 3.00 --|-- 25º percentil: 6.00 --|-- 50º percentil (mediana): 8.00 --|-- 75º percentil: 11.00 --|-- 95º percentil: 15.00
--------------
Tratamentos 1
NaN's: 22697 --|-- Ocorrências: 5019 --|-- Média: 2.00 --|-- Desv. padrão: 2.26 --|-- Mínimo: 0.00 --|-- Máximo: 17.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 1.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 6.00
--------------
Tratamentos 2
NaN's: 22697 --|-- Ocorrências: 5019 --|-- Média: 2.13 --|-- Desv. padrão: 2.30 --|-- Mínimo: 0.00 --|-- Máximo: 16.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 0.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 7.00
--------------
Substituições 1
NaN's: 18296 --|-- Ocorrências: 9420 --|-- Média: 3.00 --|-- Desv. padrão: 1.02 --|-- Mínimo: 0.00 --|-- Máximo: 6.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Substituições 2
NaN's: 18296 --|-- Ocorrências: 9420 --|-- Média: 3.00 --|-- Desv. padrão: 1.03 --|-- Mínimo: 0.00 --|-- Máximo: 6.00 --|-- 5º percentil: 1.00 --|-- 25º percentil: 3.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 3.00 --|-- 95º percentil: 5.00
--------------
Tiros-livres 1
NaN's: 21470 --|-- Ocorrências: 6246 --|-- Média: 14.16 --|-- Desv. padrão: 4.43 --|-- Mínimo: 1.00 --|-- Máximo: 36.00 --|-- 5º percentil: 7.00 --|-- 25º percentil: 11.00 --|-- 50º percentil (mediana): 14.00 --|-- 75º percentil: 17.00 --|-- 95º percentil: 22.00
--------------
Tiros-livres 2
NaN's: 21470 --|-- Ocorrências: 6246 --|-- Média: 14.25 --|-- Desv. padrão: 4.34 --|-- Mínimo: 0.00 --|-- Máximo: 33.00 --|-- 5º percentil: 8.00 --|-- 25º percentil: 11.00 --|-- 50º percentil (mediana): 14.00 --|-- 75º percentil: 17.00 --|-- 95º percentil: 22.00
--------------
Defesas difíceis 1
NaN's: 21520 --|-- Ocorrências: 6196 --|-- Média: 2.68 --|-- Desv. padrão: 1.84 --|-- Mínimo: 0.00 --|-- Máximo: 11.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 1.00 --|-- 50º percentil (mediana): 2.00 --|-- 75º percentil: 4.00 --|-- 95º percentil: 6.00
--------------
Defesas difíceis 2
NaN's: 21520 --|-- Ocorrências: 6196 --|-- Média: 3.21 --|-- Desv. padrão: 2.08 --|-- Mínimo: 0.00 --|-- Máximo: 17.00 --|-- 5º percentil: 0.00 --|-- 25º percentil: 2.00 --|-- 50º percentil (mediana): 3.00 --|-- 75º percentil: 4.00 --|-- 95º percentil: 7.00
--------------
Posse 1(%)
NaN's: 2350 --|-- Ocorrências: 25366 --|-- Média: 51.32 --|-- Desv. padrão: 9.83 --|-- Mínimo: 0.00 --|-- Máximo: 100.00 --|-- 5º percentil: 35.00 --|-- 25º percentil: 45.00 --|-- 50º percentil (mediana): 52.00 --|-- 75º percentil: 58.00 --|-- 95º percentil: 67.00
--------------
Posse 2(%)
NaN's: 2350 --|-- Ocorrências: 25366 --|-- Média: 48.51 --|-- Desv. padrão: 9.81 --|-- Mínimo: 0.00 --|-- Máximo: 100.00 --|-- 5º percentil: 33.00 --|-- 25º percentil: 42.00 --|-- 50º percentil (mediana): 48.00 --|-- 75º percentil: 55.00 --|-- 95º percentil: 65.00
--------------

In [15]:
# Vamos salvar esses dados sem os outliers.
df_sem_outliers.to_csv(current_path + '/Data/campeonatos_futebol_sem_outliers.csv',
                       index=False)