Teste 4: Com os índices

# Inicialização

**Bibliotecas**

In [1]:
import os
import sys
import pandas as pd

**Funções auxiliares**

In [2]:
sys.path.append(os.path.abspath('../src'))
from modelo_e_treinamento import split, ensemble_train, ensemble_test, ensemble_evaluate, train_and_evaluate_xgboost
from sklearn.model_selection import train_test_split

**Leitura de Arquivos**

In [3]:
current_path = os.path.dirname(os.getcwd())
csv_path = (current_path + '/Data/Entradas_teste/teste4.csv')
df = pd.read_csv(csv_path)

In [5]:
df.head()

,Desgaste_Defensivo_1,Desgaste_Defensivo_2,Barreira_Defensiva_1,Barreira_Defensiva_2,Pressao_Ofensiva_1,Pressao_Ofensiva_2,Eficiencia_Finalizacao_1,Eficiencia_Finalizacao_2,Variedade_Ofensiva_1,Variedade_Ofensiva_2,Controle_Jogo_1,Controle_Jogo_2
0,0.000000,0.000000,0.000000,0.000000,1.666008,0.424542,0.492849,0.000000,1.187747,0.324542,0.9000,0.1000
1,0.000000,0.000000,0.000000,0.000000,0.130435,0.831502,0.000000,0.000000,0.130435,0.698168,0.4875,0.5125
2,0.000000,0.000000,0.000000,0.000000,0.863636,1.741758,0.766637,0.403093,0.667984,1.408425,0.5250,0.4750
3,0.000000,1.190942,0.000000,1.750438,1.316206,0.000000,0.574983,0.000000,0.968379,0.000000,0.2750,0.0000
4,1.594282,0.000000,1.817627,0.000000,0.000000,0.710989,0.000000,0.000000,0.000000,0.577656,0.0000,0.3375

## Treinamento do Modelo

In [ ]:
print("Splitando dados...")
X_train, X_test, y_train, y_test = split(df, "Target")

### Treinamento do XGBoost

In [ ]:
print("\nTreinamento o XGBoost...")
XGB_train = train_and_evaluate_xgboost(X_train, y_train, X_test, y_test)

### Treinamento do Ensemble

In [ ]:
    # === Treinamento do Ensemble ===
print("\nTreinamento o ensemble...")
ensemble_model = ensemble_train(X_train, y_train)

In [ ]:
    # === Teste ===
print("\nTestando o ensemble...")
y_pred = ensemble_test(ensemble_model, X_test)

In [ ]:
    # === Avaliação ===
print("\nAvaliação do modelo:")
metrics = ensemble_evaluate(y_test, y_pred)