<div style="border: 2px solid #255c8a; padding: 10px; background-color: #121212; border-radius: 5px; line-height: 1; width: 97%">
  <strong> ℹ️ Descrição:</strong> 
  Este notebook se refere ao tratamento da coluna de posições, visando convertê-la para um dado que possa ser utilizado pelo modelo. 
</div>

# Inicialização

**Bibliotecas**:

In [122]:
import os
import sys
import pandas as pd

**Funções Auxiliares:**

In [123]:
sys.path.append(os.path.abspath("../src"))
from AnaliseExploratoria_functions import position_to_binary

**Leitura do Arquivo:**

In [124]:
current_path = os.path.dirname(os.getcwd())
csv_path = (current_path + '/Data/campeonatos_futebol_sem_NaN_1.csv')
df = pd.read_csv(csv_path)

# Tratando a coluna de Posições

No data frame, a coluna de posições apresenta uma string com a posição inicial dos jogadores na partida, como mostrado abaixo. Entretanto, em uma partida de futebol, os times não permanecem nas mesmas posições durante todo o tempo, e não temos como saber como o time se adaptou. O que podemos descobrir, contudo, é se o time chegou na partida mais ofensivamente ou defensivamente.

In [125]:
df[['Position 1', 'Position 2']]

      Position 1 Position 2
0          4-3-3      4-3-3
1          3-5-2      3-5-2
2          4-3-3    3-4-1-2
3          3-4-3    4-2-3-1
4          4-4-2    3-5-1-1
...          ...        ...
25574      4-4-2      4-5-1
25575    4-2-3-1      4-4-2
25576      4-4-2      4-4-2
25577      4-5-1      4-4-2
25578      4-4-2    4-2-3-1

[25579 rows x 2 columns]

Abaixo, mostramos todas as posições únicas que aparecem no data frame

In [126]:
all_formations = pd.unique(
    df[['Position 1', 'Position 2']].values.ravel()
)
all_formations

array(['4-3-3', '3-5-2', '3-4-1-2', '3-4-3', '4-2-3-1', '4-4-2',
       '3-5-1-1', '4-5-1', '4-1-4-1', '5-4-1', '3-1-4-2', '4-3-1-2',
       '3-4-2-1', '5-3-2', '4-4-1-1', '4-3-2-1', '4-1-3-2', '4-1-2-1-2',
       '3-2-3-2', '3-1-3-1-2', '5-3-1-1', '3-3-3-1', '4-1-2-3', '4-2-1-3',
       '3-3-2-2', '4-2-2-2', '3-2-4-1', '4-1-2-2-1', '5-2-3', '3-3-1-3'],
      dtype=object)

Então, decidimos como faríamos a conversão. Pensamos inicialmente em um intervalo entre 0 e 1, mas depois percebemos que não tínhamos dados ou ferramentas o bastante para fazer a conversão. Assim, optamos por um indicativo binário:

1 = Formação ofensiva  
2 = Formação defensiva

In [127]:
df = position_to_binary(df,['Position 1','Position 2'], replace = True)
df.head()

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,Cartões amarelos 1,Cartões amarelos 2,Cartões vermelhos 1,Cartões vermelhos 2,Gols 1,Gols 2,Posse 1(%),Posse 2(%),Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,0.0,5.0,0.0,0.0,3.0,0.0,77.0,23.0,1.0,1.0
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,4.0,1.0,0.0,0.0,0.0,0.0,44.0,56.0,1.0,1.0
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,2.0,2.0,1.0,0.0,2.0,2.0,47.0,53.0,1.0,1.0
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,0.0,0.0,0.0,0.0,2.0,1.0,27.0,73.0,1.0,0.0
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,1.0,3.0,0.0,0.0,2.0,0.0,58.0,42.0,0.0,1.0

# Salvando no csv

Então, salvamos os dados como csv final:

In [128]:
df.to_csv(current_path + '/Data/campeonatos_futebol_final.csv', index=False)