<div style="border: 2px solid #255c8a; padding: 10px; background-color: #121212; border-radius: 5px; line-height: 1; width: 97%">
  <strong> ℹ️ Descrição:</strong> 
  Este notebook representa uma parte importantíssima para o modelo final: a criação de uma coluna para servir de target.
</div>

Vamos criar uma coluna target, que simboliza o vencedor ao final da partida. Para isso, vamos apenas ver qual dos dois times fez mais gol, e categorizar a partida em três possibilidades:

2 = time 1 venceu  
1 = empate  
0 = time 2 venceu

Como usaremos apenas a coluna de gols, e esta está inteiramente preenchida, não é um problema não termos feito o tratamento dos NaNs antes de criarmos a target.

# Inicialização

**Bibliotecas**

In [1]:
import os
import pandas as pd

**Leitura do Arquivo**

In [2]:
current_path = os.path.dirname(os.getcwd())
csv_path = (current_path + '/Data/Pre-processamento/positions_ajustadas.csv')
df = pd.read_csv(csv_path)

# Target

In [3]:
def target(df):
    """
    Calcula o resultado do confronto com base nas colunas 'Gols 1' e 'Gols 2'.

    Parâmetros:
    df (pandas.DataFrame): DataFrame que contém as colunas 'Gols 1' e 'Gols 2'.

    Retorna:
    pandas.Series: Série com os resultados, onde:
        - "2" se 'Gols 1' > 'Gols 2'
        - "1" se 'Gols 1' == 'Gols 2'
        - "0" se 'Gols 1' < 'Gols 2'
    """
    resultados = []
    for _, row in df.iterrows():
        if row['Gols 1'] > row['Gols 2']:
            resultados.append("2")
        elif row['Gols 1'] == row['Gols 2']:
            resultados.append("1")
        else:
            resultados.append("0")
    return pd.Series(resultados, name="Target")

Aplicamos a função acima no dataframe para ser lido, e adicionamos a coluna:

In [4]:
resultados = target(df)
df = pd.concat([df, resultados], axis = 1)
df.head()

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Substituições 2,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Position 1,Position 2,Target
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,3.0,NaN,NaN,NaN,NaN,77.0,23.0,1.0,1.0,2
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,3.0,NaN,NaN,NaN,NaN,44.0,56.0,1.0,1.0,1
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,3.0,NaN,NaN,NaN,NaN,47.0,53.0,1.0,1.0,1
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,3.0,NaN,NaN,NaN,NaN,27.0,73.0,1.0,0.0,2
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,3.0,NaN,NaN,NaN,NaN,58.0,42.0,0.0,1.0,2

# Salvando novo csv

In [5]:
df.to_csv(current_path + '/Data/Pre-processamento/com_target.csv', index=False)