<div style="border: 2px solid #255c8a; padding: 10px; background-color: #121212; border-radius: 5px; line-height: 1; width: 97%">
  <strong> ℹ️ Descrição:</strong> 
  Este notebook se refere ao tratamento da coluna de posições, visando convertê-la para um dado que possa ser utilizado pelo modelo. 
</div>

# Inicialização

**Bibliotecas**:

In [7]:
import os
import sys
import pandas as pd

**Funções Auxiliares:**

In [16]:
sys.path.append(os.path.abspath("../src"))
from AnaliseExploratoria_functions import position_to_binary

**Leitura do Arquivo:**

In [9]:
current_path = os.path.dirname(os.getcwd())
csv_path = (current_path + '/Data/campeonatos_futebol_atualizacao.csv')
df = pd.read_csv(csv_path)

# Tratando a coluna de Posições

No data frame, a coluna de posições apresenta uma string com a posição inicial dos jogadores na partida, como mostrado abaixo. Entretanto, em uma partida de futebol, os times não permanecem nas mesmas posições durante todo o tempo, e não temos como saber como o time se adaptou. O que podemos descobrir, contudo, é se o time chegou na partida mais ofensivamente ou defensivamente.

In [10]:
df[['Position 1', 'Position 2']]

      Position 1 Position 2
0          4-3-3      4-3-3
1          3-5-2      3-5-2
2          4-3-3    3-4-1-2
3          3-4-3    4-2-3-1
4          4-4-2    3-5-1-1
...          ...        ...
27711      4-4-2      4-5-1
27712    4-2-3-1      4-4-2
27713      4-4-2      4-4-2
27714      4-5-1      4-4-2
27715      4-4-2    4-2-3-1

[27716 rows x 2 columns]

Abaixo, mostramos todas as posições únicas que aparecem no data frame

In [13]:
all_formations = pd.unique(
    df[['Position 1', 'Position 2']].values.ravel()
)
all_formations

array(['4-3-3', '3-5-2', '3-4-1-2', '3-4-3', '4-2-3-1', '4-4-2',
       '3-5-1-1', nan, '3-4-2-1', '4-5-1', '4-1-4-1', '5-4-1', '3-1-4-2',
       '5-3-2', '4-3-2-1', '4-3-1-2', '4-4-1-1', '4-1-3-2', '4-1-2-1-2',
       '3-2-3-2', '3-1-3-1-2', '5-3-1-1', '3-3-3-1', '4-1-2-3', '4-2-1-3',
       '3-3-2-2', '4-2-2-2', '3-2-4-1', '4-1-2-2-1', '5-2-3', '3-3-1-3'],
      dtype=object)

Então, decidimos como faríamos a conversão. Pensamos inicialmente em um intervalo entre 0 e 1, mas depois percebemos que não tínhamos dados ou ferramentas o bastante para fazer a conversão. Assim, optamos por um indicativo binário:

1 = Formação ofensiva  
2 = Formação defensiva

In [17]:
position_to_binary(df,['Position 1','Position 2'], replace = True)

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,1.0,1.0
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,1.0,1.0
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,1.0,1.0
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,1.0,0.0
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27711,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,0.0,0.0
27712,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,0.0,0.0
27713,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,0.0,0.0
27714,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,0.0,0.0
27715,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,0.0,0.0

# Salvando no csv

TODO: temos que separar essas duas colunas e colocá-las junto do csv final